<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">


    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="main">

            <h2 class="sub-header">Analytics</h2>
            <div id="toolbar" class="btn-group">
                <button id="btn_upload" type="button" class="btn btn-default fixed-btn">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Upload Package
                </button>
                <button id="btn_add" type="button" class="btn btn-default fixed-btn">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Analytics
                </button>
            </div>
            <div class="table-responsive">
                <table id="table">
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->



<script>
    $(function(){
        $("#table").bootstrapTable({
              url: "/flow/getTableData",
              cache: false,
              striped: true,
              pagination: true,
              pageList: [10, 20],
              pageSize: 10,
              pageNumber: 1,
              sidePagination: 'server',
              columns:[
                {
                    field:'name',
                    title:'NAME'
                }
              ]
        });
       <!--$("#table").bootstrapTable({-->
              <!--url: "/flow/getTableData",-->
              <!--cache: false,-->
              <!--striped: true,-->
              <!--pagination: true,-->
              <!--pageList: [10, 20],-->
              <!--pageSize: 10,-->
              <!--pageNumber: 1,-->
              <!--sidePagination: 'server',-->
              <!--&lt;!&ndash;queryParams: function (params) {&ndash;&gt;-->

                  <!--&lt;!&ndash;return {&ndash;&gt;-->
                      <!--&lt;!&ndash;pageSize: params.limit,&ndash;&gt;-->
                      <!--&lt;!&ndash;offset: params.offset,&ndash;&gt;-->
                      <!--&lt;!&ndash;sort: params.sort,&ndash;&gt;-->
                      <!--&lt;!&ndash;sortOrder: params.order&ndash;&gt;-->

                  <!--&lt;!&ndash;}&ndash;&gt;-->
              <!--&lt;!&ndash;},&ndash;&gt;-->
              <!--sortName: 'name',-->
              <!--sortOrder: 'desc',-->
              <!--columns: [-->
                  <!--{-->
                      <!--radio: true,-->
                      <!--align: 'center'-->
                  <!--}, {-->
                      <!--field: 'name',-->
                      <!--title: 'NAME',-->
                      <!--align: 'center',-->
                      <!--valign: 'middle',-->
                      <!--width : 20%-->
                  <!--}, {-->
                      <!--field: 'description',-->
                      <!--title: 'DESCRIPTION',-->
                      <!--align: 'center',-->
                      <!--valign: 'middle',-->
                      <!--width:20%-->
                  <!--}, {-->
                      <!--field: 'time',-->
                      <!--title: 'TIME',-->
                      <!--align: 'center',-->
                      <!--valign: 'middle',-->
                      <!--width: 20%,-->
                      <!--formatter: function (value, row, index){-->
                         <!--return value;-->
                      <!--}-->
                  <!--}, {-->
                      <!--field:'location',-->
                      <!--title: "Location",-->
                      <!--align: 'center',-->
                      <!--valign: 'middle',-->
                      <!--width: 20%,-->
                  <!--}-->
              <!--],-->
              <!--onLoadSuccess: function(){-->
                    <!--console.info("load success");-->
              <!--},-->
              <!--onLoadError: function(){-->
                    <!--console.info("load error");-->
              <!--}-->
        <!--});-->


        $("#btn_upload").click(function(){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.open({
                    type:2,
                    content:"/flow/upload",
                    area:['600px','300px'],
                    anim: 4
                })
            });
        });
    })









</script>


</body>
</html>
