<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="main">

            <h2 class="sub-header">Upload</h2>
            <!--<div id="toolbar" class="btn-group">-->
                <!--<button id="btn_upload" type="button" class="btn btn-default fixed-btn">-->
                    <!--<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Upload Package-->
                <!--</button>-->
                <!--<button id="btn_add" type="button" class="btn btn-default fixed-btn">-->
                    <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Analytics-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="table-responsive">-->
                <!--<table class="table table-striped">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>NAME</th>-->
                        <!--<th>DESCRIPTION</th>-->
                        <!--<th>TIME</th>-->
                        <!--<th>LOCATION</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr th:each="event:${list}">-->
                        <!--<td th:text="${event.name}"></td>-->
                        <!--<td th:text="${event.description}"></td>-->
                        <!--<td th:text="${event.time}"></td>-->
                        <!--<td th:text="${event.location}"></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->

<script src="../layui-v2.4/layui/layui.js"></script>
<link href="../layui-v2.4/layui/css/layui.css" rel="stylesheet">
<script>
    $(function(){
        <!--$("#btn_upload").click(function(){-->
            <!--layui.use('layer', function(){-->
                <!--var layer = layui.layer;-->
                <!--layer.open({-->
                <!--type:2,-->
                <!--content:"/flow/upload",-->
                <!--area:['600px','300px'],-->
                <!--anim: 4-->
            <!--})-->
            <!--});-->


        <!--});-->



    })

</script>


</body>
</html>
